@model xchedulerDBFinalDraft.Models.Booking

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Define star styles */
    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        text-align: left;
    }

        .rating > span {
            display: inline-block;
            position: relative;
            width: 1.1em;
            font-size: 24px; /* Increase the star size for better visibility */
            cursor: pointer; /* Change cursor to pointer for interactivity */
        }

            .rating > span:hover:before,
            .rating > span:hover ~ span:before {
                content: "\2605";
                position: absolute;
            }
</style>

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Booking</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.AppoinmentId, "AppoinmentId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AppoinmentId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AppoinmentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ratings, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="rating" id="starRating">
                    <span data-rating="5">☆</span>
                    <span data-rating="4">☆</span>
                    <span data-rating="3">☆</span>
                    <span data-rating="2">☆</span>
                    <span data-rating="1">☆</span>
                </div>
                @Html.HiddenFor(model => model.Ratings, new { id = "Ratings" })
                @Html.ValidationMessageFor(model => model.Ratings, "", new { @class = "text-danger" })
                <input type="text" id="SelectedRating" readonly="readonly" />
            </div>
        </div>

        <!-- Remove the field for Avg_Booking, as it should be calculated later -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles jqueryval")

    <script>
        $(document).ready(function () {
            $("#starRating span").click(function () {
                var rating = $(this).data("rating");
                $("#Ratings").val(rating); // Save rating as a whole number
                $("#SelectedRating").val(rating + (rating === 1 ? " star" : " stars"));

                // Remove previous star ratings
                $("#starRating span").each(function () {
                    $(this).text("☆");
                });

                // Highlight selected stars
                $(this).prevAll("span").andSelf().text("★");
            });
        });
    </script>
}
