@model IEnumerable<xchedulerDBFinalDraft.Models.AppoinmentDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Appointment Details</h2>

<div>
    <button id="export-jpeg" class="btn btn-primary">Export to JPEG</button>
    <button id="export-excel" class a="btn btn-primary">Export to Excel</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppoinmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppoinmentTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppoinmentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CenterDetail.CenterLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUser1.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppoinmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppoinmentTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppoinmentStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CenterDetail.CenterLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser1.Email)
                </td>
                <td>
                    @if (User.IsInRole("patient") || User.IsInRole("doctor"))
                    {
                        <div class="btn-group">
                            @Html.ActionLink("Edit", "Edit", new { id = item.AppoinmentId }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.AppoinmentId }, new { @class = "btn btn-danger" })
                        </div>
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.AppoinmentId }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script>
        $(document).ready(function () {
            $('.table').DataTable();

            $('#export-excel').click(function () {
                $('.table').table2excel({
                    name: 'TableData',
                    filename: 'table-export',
                    fileext: '.xls'
                });
            });

            $('#export-jpeg').click(function () {
                html2canvas(document.querySelector('.table')).then(function (canvas) {
                    var img = canvas.toDataURL('image/jpeg');
                    var link = document.createElement('a');
                    link.href = img;
                    link.download = 'table-export.jpeg';
                    link.click();
                });
            });
        });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
